<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Order Summary Page</title>
    <!-- Bootstrap -->
    <link href="css/bootstrap.css" rel="stylesheet">

</head>

<body>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="js/jquery-1.11.3.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.js"></script>
<!-- Navigation Bar -->
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header"> <a class="navbar-brand" href="#">EFY</a> </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="index.html">Home</a>
            </li>
            <li><a href="productPage.html">Product Page</a>
            </li>
            <li><a href="cart.php">Cart Page</a>
            </li>
        </ul>
    </div>
</nav>


<!-- Container -->
<% results.forEach(function(r) { %>
<div class="container">
    <div class="jumbotron">
        <h1>THANK YOU FOR YOUR SUBMITTED ORDER</h1>
    </div>
    <!-- Print Out All The Information -->
    <div class="col-sm-6">
        <div class="panel-group">
            <div class="panel panel-success">
                <div class="panel-heading">User Information</div>
                <div class="panel-body">

                    <label>First and Last Name</label>
                    <p>
                        <%= r.FIRSTNAME%>
                        <%= r.LASTNAME%>
                    </p>
                    <label>Address Line</label>
                    <p>
                        <%= r.SHIPPING_STREET%>
                    </p>
                    <label>City, State, and Zip Code</label>
                    <p>
                        <%= r.SHIPPING_CITY%>
                        <%= r.SHIPPING_STATE%>
                        <%= r.SHIPPING_ZIP%>
                    </p>
                    <label>Billing Address</label>
                    <p>
                        <%= r.BILLING_STREET%>
                    </p>
                    <label>City, State, and Zip Code</label>
                    <p>
                        <%= r.CITY%>
                        <%= r.STATE%>
                        <%= r.ZIP%>
                    </p>
                    <label>Phone Number</label>
                    <p>
                        <%= r.PHONE%>
                    </p>
                    <label>Email</label>
                    <p>
                        <%= r.EMAIL%>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="panel-group">
            <div class="panel panel-info">
                <div class="panel-heading">Payment Information</div>
                <div class="panel-body">
                    <label>First and Last Name on Card</label>
                    <p>
                        <%= r.FIRSTNAME%>
                        <%= r.LASTNAME%>
                    </p>
                    <label>Credit Card Type</label>
                    <p>
                        <%= r.CREDITCARDTYPE%>
                    </p>
                    <label>Credit Card Number</label>
                    <p>
                        <%= r.CREDITCARDNUM%>
                    </p>
                    <label>Expiration Date</label>
                    <p>
                        <%= r.CREDITCARDEXP%>
                    </p>
                    <label>Phone Number</label>
                    <p>
                        <%= r.PHONE%>
                    </p>
                    <label>Email</label>
                    <p>
                        <%= r.EMAIL%>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12">
        <div class="panel-group">
            <div class="panel panel-warning">
                <div class="panel-heading">Product Information</div>
                <div class="panel-body">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>BILLING ID</th>
                            <th>SHIPPING ID</th>
                            <th>DATE</th>
                            <th>PRODUCT VECTOR</th>
                            <th>ORDER TOTAL</th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr class="info">
                            <td>
                                <%= r.BILLING_ID%>
                            <td>
                                <%= r.SHIPPING_ID%>
                            </td>
                            <td>
                                <%= r.DATE%>
                            </td>
                            <td>
                                <%= r.PRODUCT_VECTOR%>
                            <td>
                                <%= r.ORDER_TOTAL%>
                            </td>
                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<% }); %>


</body>

</html>