views/storeData.ejs
<!DOCTYPE html>
<html>
<head>
    <title>THANK YOU FOR YOUR SUBMITTED ORDER</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<div class="container">
    <h2>Database Results getting Orders </h2>
    <ul>
        <% results.forEach(function(r) { %>
        <li>Customer ID - <%= r.CUSTOMER_ID%></li>
        <ul>
            <li>BILLING ID - <%=r.BILLING_ID%></li>
            <li>SHIPPING_ID - <%=r.SHIPPING_ID%> </li>
            <li>DATE - <%=r.DATE%></li>
            <li>PRODUCT VECTOR - <%=r.PRODUCT_VECTOR%></li>
            <li>ORDER_TOTAL - <%=r.ORDER_TOTAL%></li>
        </ul>
        <br/><br/>
        <% }); %>
    </ul>
</div>

</body>
</html>
